html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #1f1c26;
	font-family: 'Poppins', sans-serif;
}

.wrapper {
	max-width: 1170px;
	margin: 0 auto;
	min-height: 100%;
	position: relative;
	box-sizing: border-box;
	padding-bottom: 25px;
}

/* ///////////////////////// */

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #f2f2f2;
	margin-top: 64px;
}

.header__logo {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3% 3%;

	border: 1px solid #f2f2f2;
}

.header__logoWortOut {
	display: flex;
	z-index: 1;
	height: 37.5px;
}

.header__logoWort {
	font-size: 36px;
	font-weight: bold;
}

.header__logoOut {
	font-size: 36px;
	font-weight: bold;
	color: #f24b88;
}
.header__logoBellive {
	letter-spacing: 3px;
	font-size: 14px;
	font-weight: 300;
	z-index: 2;
}

.header__menu {
	display: flex;
	font-size: 14px;
}

.header__menuItem:not(:last-child) {
	margin-right: 58px;
}

.header__menuItem:hover:not(:last-child) {
	text-decoration: none;
	border-bottom: 5px solid #59253e;
}

.menuItem_button {
	width: 57px;
	height: 21px;
	padding: 0;
}

.header__menuItem_button_login {
	border: none;
	background-color: #f24b88;
	color: #f2f2f2;
}

.header__menuItem_button_signIn {
	border: 1px solid #f2f2f2;
	background-color: #253439;
	color: #f2f2f2;
}

.header__hamburger {
	background-color: #1f1c26;
	border: none;
}

.header__hamburger:active {
	transform: translateY(4px);
}

.blur {
	filter: blur(5px); /* Розмиття ефект */
	transition: filter 0.5s ease; /* Плавний перехід */
}

.show-menu {
	display: block;
	background-color: white;
}

.hiden-menu {
	display: none;
}
@media (min-width: 769px) {
	.header__hamburger {
		display: none;
	}
}

@media (max-width: 768px) {
	header {
		margin-top: 0px;
	}

	.header__logo {
		display: flex;
		flex-direction: column;
		align-items: center;

		/* padding: 0px 0px; */

		border: 1px solid #f2f2f2;
	}

	.header__logoWortOut {
		height: 30px;
	}

	.header__logoWort {
		font-size: 24px;
	}

	.header__logoOut {
		font-size: 24px;
	}
	.header__logoBellive {
		letter-spacing: 3px;
		font-size: 8px;
	}

	.header__menu {
		display: flex;
		flex-direction: column;
		/* justify-content: space-between;
		align-items: center; */

		align-items: center;

		position: absolute;
		top: 0;
		right: 0;

		width: auto;

		z-index: 100;
		border-radius: 20px 0px 0px 20px;
		background-color: #59253e;
		padding: 34px 15px 20px 15px;
	}

	.header__menu {
		display: none;
	}

	.header__menuItem {
		color: #f2f2f2;
		line-height: 18px;
		font-size: 12px;
		font-weight: 400;
		text-align: center;
		margin-right: 0;
		margin-bottom: 14px;
	}

	.header__menuItem:not(:last-child) {
		margin-right: 0px;
	}
	.header__menuItem:last-child {
		margin-top: 50px;
	}

	.wrapper {
		margin: 11px;
	}
}

/* /////////////// */
main {
	/* background-color: violet; */
}

/* ///main */

main {
	margin-top: 60px;
}

.workOutPlane {
	display: flex;
	justify-content: space-between;
	padding-top: 25px;
}

.workOutPlane_inform {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	/* background-color: violet; */
}

.workOutPlane_title {
	color: #ffff;
}

.workOutPlane_titleBig {
	font-size: 64px;
	font-weight: bold;
	height: 70px;
	letter-spacing: 20px;
}

.workOutPlane_titleMiddle {
	font-size: 29px;
	letter-spacing: 10px;
}

.workOutPlane_text {
	font-size: 14px;
	color: #706e74;
	width: 392px;
}

.workOutPlane_button {
	display: flex;

	justify-content: space-between;
}

.buttonBig {
	background-color: #f24b88;
	border: none;
	max-width: 100%;
	height: 70px;
	color: #ffff;
	font-weight: 600;
	border-radius: 10px;
	font-size: 20px;
}

.buttonBig:hover {
	background-color: #b43966;
}

.buttonBig:active {
	background-color: #b43966;
	box-shadow: 10px 5px #7c2846;
	transform: translateY(4px);
}

.workOutPlane_photo {
	display: flex;
	flex-direction: column;
	align-items: end;
	margin-right: 26px;
	margin-left: 70px;
}

@media (max-width: 1016px) and (min-width: 768px) {
	.workOutPlane {
		justify-content: space-evenly;
	}
	.workOutPlane_titleBig {
		font-size: 20px;
		height: 25px;
	}
	.workOutPlane_titleMiddle {
		font-size: 10px;
	}
	.workOutPlane_text {
		font-size: 14px;
		width: 150px;
	}
	.weekButton {
		max-width: 40%;
		height: 35px;
		font-size: 75%;
	}
	.workOutPlane_photo {
		margin-right: 0px;
		margin-left: 0px;
	}
}

.workOutPlane_photo img {
	border-radius: 20px;
	max-width: 100%;
	height: auto;
}

.workOutPlane_announcements {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: #ffff;
	width: 25%;
}

.workOutPlane_announcement {
	background-color: #332f3c;
	border-radius: 20px;
	height: 40%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 5% 5%;
}

.announcement_title {
	font-weight: 600;
	font-size: 20px;
}

.announcement_text {
	font-size: 14px;
	color: #706e74;
}

.announcement_button {
	display: flex;
	align-items: center;
}

.announcement_button button {
	background-color: #f24b88;
	border: none;
	width: 40px;
	height: 40px;
	border-radius: 40px;
	margin-right: 13px;
}

.announcement_buttonText {
	font-weight: 600;
	font-size: 18px;
}

@media (max-width: 1016px) and (min-width: 767px) {
	.announcement_title {
		font-weight: 600;
		font-size: 15px;
	}
}

@media (max-width: 767px) {
	.workOutPlane {
		display: flex;
		flex-direction: column;
	}

	.workOutPlane_inform {
		order: 2;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 50px;
	}
	.workOutPlane_title {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.workOutPlane_titleBig {
		font-size: 26px;
		height: 30px;
		letter-spacing: 10px;
	}
	.workOutPlane_titleMiddle {
		font-size: 12px;
		letter-spacing: 5px;
	}
	.workOutPlane_text {
		text-align: center;
		font-size: 12px;
		margin-top: 16px;
		width: 100%;
	}

	.workOutPlane_photo {
		order: 1;
		display: flex;
		align-items: center;
		margin: 0;
	}

	.buttonBig {
		width: 108px;
		height: 39.79px;
		font-size: 13px;
		margin-top: 56px;
	}
	.buttonBigSec {
		display: none;
	}
	.workOutPlane_announcements {
		display: none;
	}

	.workOutPlane_photo {
		width: 100%;
		height: auto;
	}

	.workOutPlane_photo {
		width: 100%;
		height: auto;
	}

	.workOutPlane_photo img {
		width: 100%;
		height: auto;
	}

	.workOutPlane_photo img:first-child {
		display: none;
	}
}

@media (min-width: 768px) {
	.workOutPlane_photo img:last-child {
		display: none;
	}
}

/* ///////////latestTraining */

.latestTraining {
	color: #ffff;
	margin-top: 148px;
}

.latestTraining_header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.block_title {
	font-size: 30px;
	font-weight: bold;
}

.block_titleLine {
	width: 61px;
	height: 5px;
	background-color: #59253e;
}

.button__more {
	font-size: 14px;
}

.latestTraining_blocks {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}

.latestTraining_block_item:not(:last-child) {
	margin-right: 25px;
}

.latestTraining_block_photo img {
	width: 100%;
	height: auto;
}

.latestTraining_block_title {
	font-size: 18px;
	font-weight: 600;
	margin-top: 15px;
}
.latestTraining_block_text {
	font-size: 14px;
	color: #706e74;
	margin-top: 15px;
}

.latestTraining_block_button {
	margin-top: 15px;
}

.buttonSmall {
	background-color: #f24b88;
	font-weight: 600;
	border: none;
	color: #ffff;
	border-radius: 5px;
	width: 98px;
	height: 35.38px;
}

.buttonSmall:hover {
	background-color: #b43966;
}

.buttonSmall:active {
	background-color: #b43966;
	box-shadow: 5px 3px #7c2846;
	transform: translateY(2px);
}

@media (min-width: 768px) {
	.latestTraining_block_title_adaptive {
		display: none;
	}
	.latestTraining_block_button_adaptiv {
		display: none;
	}
}

@media (max-width: 768px) {
	.latestTraining_blocks {
		display: flex;
		flex-direction: column;
	}

	.latestTraining_header {
		display: flex;
		justify-content: center;
	}
	.latestTraining_block_item {
		width: 100%;
		height: auto;
		margin-bottom: 42px;
	}

	.latestTraining_block_item {
	}

	.block_titleLine {
		width: 100%;
	}

	.latestTraining_block_photo {
		position: relative;
	}
	.latestTraining_block_photo img {
		border-radius: 10px;
	}

	.latestTraining_block_title_adaptive {
		position: absolute;
		bottom: 0;
		left: 0;
		font-size: 18px;
		font-weight: 600;
		margin-bottom: 12px;
		margin-left: 6px;
	}

	.latestTraining_block_text {
		display: none;
	}

	.latestTraining_block_title {
		display: none;
	}

	.latestTraining_block_button {
		display: none;
	}

	.button__more {
		display: none;
	}

	.latestTraining_block_button_adaptiv {
		display: flex;
		justify-content: center;
	}

	.buttonSmall {
		width: 89.48px;
		height: 36px;
	}
}

/* ourTeam_block */

.ourTeam {
	margin-top: 50px;
}

.latestTraining_header {
	margin-bottom: 94px;
}

.block_titleText {
	color: #ffff;
}

.ourTeam_blocks {
	display: flex;
}

.ourTeam_block {
	width: 100%;
	height: auto;
	background-color: #f2f2f2;
}

.ourTeam_block:not(:last-child) {
	margin-right: 40px;
}

.ourTeam_img {
	height: auto;
	width: 100%;
}
.ourTeam_img img {
	width: 100%;
	height: auto;
}

.ourTeam_inform {
	padding: 21px 12px 12px 12px;
}

.ourTeam_person {
	font-style: italic;
}

.ourTeam_personName {
	font-weight: bold; /* Жирний */
	font-size: 18px;
	height: 20px;
}

.ourTeam_personPosition {
	font-weight: 600;
	font-size: 13px;
	margin-bottom: 10px;
}

.ourTeam_text {
	text-align: center;
	color: #706e74;
	font-size: 12px;
	margin-bottom: 54px;
}

.ourTeam_button {
	display: flex;
	justify-content: end;
}

@media (max-width: 768px) {
	.latestTraining_header {
		margin-bottom: 27px;
	}
	.ourTeam_blocks {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(40%, 1fr)); /* Розміщуємо по два елементи у рядку */
		grid-column-gap: 9px;
		grid-row-gap: 38px;
	}

	.ourTeam_block {
		width: 100%;
		box-sizing: border-box;
		background-color: #1f1c26;
		color: #e5e3e3;
		font-size: 18px;
	}

	.ourTeam_img {
		width: 100%;
	}

	.ourTeam_img img {
		border-radius: 20px;
		aspect-ratio: 1 / 1;
		overflow: hidden;
	}

	.ourTeam_person {
		display: flex;
		justify-content: center;
		margin: 0;
	}

	.ourTeam_inform {
		padding: 0;
	}

	.ourTeam_text {
		display: none;
	}
	.ourTeam_button {
		display: none;
	}
	.ourTeam_personPosition {
		display: none;
	}
	.ourTeam_block_button_adaptiv {
		display: flex;
		justify-content: center;
		margin-top: 20px;
	}
}

@media (min-width: 768px) {
	.ourTeam_block_button_adaptiv {
		display: none;
	}
}

/* potencial */

.potencial {
	background-color: #332f3c;
	margin-top: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #ffff;
	padding-top: 72px;
	padding-bottom: 65px;
}

.potencial_title {
	font-weight: 600;
	font-size: 48px;
	letter-spacing: 3px;
	width: 75.8%;
	text-align: center;
}

.potencial_text {
	font-size: 13px;
	text-align: center;
	width: 43.24%;
	margin-bottom: 66px;
}

.potencial_buttons {
	display: flex;
}

.potencial_buttons button {
	width: 200px;
	height: 70px;
}

.buttonBig_black {
	background-color: #0c0a11;
	margin-left: 30px;
}

.buttonBig_black:hover {
	background-color: #797582;
}

.buttonBig_black:active {
	background-color: #797582;
	box-shadow: 10px 5px #58516a;
	transform: translateY(4px);
}

@media (max-width: 768px) {
	.potencial {
		margin-top: 50px;
		padding: 15px 12px;
	}
	.potencial_title {
		width: 100%;
		margin-bottom: 10px;
	}
	.potencial_text {
		width: 100%;
		margin-bottom: 84px;
	}

	.buttonBig {
		width: 135px;
		height: 54px;
		font-size: 18px;
	}
}

/* /////////////// */
footer {
	/* position: absolute; */
	bottom: 0;
	width: 100%;
	margin-top: 57px;
	color: #ffff;
	padding-top: 37px;
}

.footer_inform {
	display: flex;
}

.footer_block:nth-child(3) {
	margin-left: auto;
}

/* ///1 */

.header__logo {
	width: 237px;
}

.logo_text {
	text-align: left;
	font-size: 12px;
	margin: 12px 0;
}

/* ///2 */

.footer_maigns {
	display: flex;
	justify-content: space-between;
}

.footer_getInTouch {
	width: auto;
}

.footer_item {
	margin-bottom: 15px;
}

.footer_maigns {
	display: flex;
	justify-content: space-between;
	margin-left: 6px;
}

.footer_info {
	margin-right: 54px;
}

.footer_menuTitle {
	font-size: 18px;
	font-weight: bold;
}
.footer_item {
	font-size: 14px;
}

.footer_menuTitle {
	margin-bottom: 15px;
}

/* ////3 */

.footer_networks {
	display: flex;
}

.networks_item:not(:last-child) {
	margin-right: 8px;
	height: auto;
}

.footer_menuTitle {
	font-size: 18px;
	font-weight: bold;
}
.footer_item {
	font-size: 14px;
}

.footer_subscribe {
	display: flex;
	flex-direction: column;
}

.footer_menuTitle_subscribe {
	margin-bottom: 25px;
	text-align: center;
}
.footer_subscribe input {
	background-color: #ffff;
	border: white;
	height: 36px;
	border-radius: 5px;
	color: #7b7b7b;
	font-size: 13px;
	font-weight: 500;
	padding: 0 27px;
	margin-bottom: 14px;
}

::placeholder {
	color: #7b7b7b;
	font-weight: 500;
	font-size: 13px;
}

.footer_menuTitle_subscribe {
	font-size: 18px;
	font-weight: 600;
}

@media (max-width: 768px) {
	.footer_inform {
		display: flex;
		flex-direction: column;
		/* background-color: wheat; */
		align-items: center;
		padding: 0 15px;
		margin: 0;
	}

	.footer_block {
		width: 100%;
	}
	.footer_logo {
		display: flex;
		flex-direction: column;
		align-items: center;
		order: 1;
		/* background-color: turquoise; */
	}

	.logo_text {
		text-align: center;
	}

	.footer_maigns {
		order: 3;
		margin: 20px 17px 0 17px;
	}

	.footer_info {
		margin-left: 17px;
	}

	.footer_getInTouch {
		margin-right: 17px;
	}

	.footer_menuTitle {
		font-size: 18px;
		font-weight: bold;
	}

	.footer_item {
		font-size: 14px;
	}

	.footer_subscribe {
		margin-top: 30px;
		width: 100%;
		order: 2;

		align-items: center;
	}

	.footer_input {
		width: auto;
		height: 36px;
		display: flex;
		justify-content: center;
		margin-bottom: 10px;
	}
	.footer_subscribe input {
		width: 322px;
	}

	::placeholder {
		text-align: center;
	}
}

/* /////////////////// */
.footer_lastText {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 12px;
	margin: 28px 0 0 0;
}

.footer_copyringText {
	display: flex;
}

.footer_copyringText img {
	width: 12px;
	height: 14px;
	margin-left: 5px;
	font-size: 12px;
}

@media (max-width: 768px) {
	.footer_lastText {
		display: flex;
		flex-direction: column;
	}
}
