html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #1f1c26;
	font-family: 'Poppins', sans-serif;
}

.wrapper {
	max-width: 1170px;
	margin: 0 auto;

	min-height: 100%;
	position: relative;
	box-sizing: border-box;
	padding-bottom: 50px;
}

/* ///////////////////////// */

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #f2f2f2;
	margin-top: 64px;
}

.header__logo {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* padding: 30px 19px; */
	padding: 3% 3%;

	border: 1px solid #f2f2f2;
}

.header__logoWortOut {
	display: flex;
	z-index: 1;
	height: 37.5px;
}

.header__logoWort {
	font-size: 36px;
	font-weight: bold;
}

.header__logoOut {
	font-size: 36px;
	font-weight: bold;
	color: #f24b88;
}
.header__logoBellive {
	letter-spacing: 3px;
	font-size: 14px;
	font-weight: 300;
	z-index: 2;
}

.header__menu {
	display: flex;
	font-size: 14px;
}

.header__menuItem:not(:last-child) {
	margin-right: 58px;
}

.header__menuItem:hover:not(:last-child) {
	text-decoration: none;
	border-bottom: 5px solid #59253e;
}

.menuItem_button {
	width: 57px;
	height: 21px;
	padding: 0;
}

.header__menuItem_button_login {
	border: none;
	background-color: #f24b88;
	color: #f2f2f2;
}

.header__menuItem_button_signIn {
	border: 1px solid #f2f2f2;
	background-color: #253439;
	color: #f2f2f2;
}

@media (min-width: 769px) {
	.header__hamburger {
		display: none;
	}
}

@media (max-width: 768px) {
	header {
		margin-top: 0px;
	}

	.header__logo {
		display: flex;
		flex-direction: column;
		align-items: center;

		/* padding: 0px 0px; */

		border: 1px solid #f2f2f2;
	}

	.header__logoWortOut {
		height: 30px;
	}

	.header__logoWort {
		font-size: 24px;
	}

	.header__logoOut {
		font-size: 24px;
	}
	.header__logoBellive {
		letter-spacing: 3px;
		font-size: 8px;
	}

	.header__menu {
		display: none;
	}

	.wrapper {
		margin: 11px;
	}
}

/* /////////////// */
main {
	/* background-color: violet; */
}
/* /////////////// */
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px; /* Висота футера */
	background-color: yellowgreen;
}

/* ///main */

main {
	margin-top: 60px;
}

.workOutPlane {
	display: flex;
	justify-content: space-between;
	padding-top: 25px;
}

.workOutPlane_inform {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	/* background-color: violet; */
}

.workOutPlane_title {
	color: #ffff;
}

.workOutPlane_titleBig {
	font-size: 64px;
	font-weight: bold;
	height: 70px;
	letter-spacing: 20px;
}

.workOutPlane_titleMiddle {
	font-size: 29px;
	letter-spacing: 10px;
}

.workOutPlane_text {
	font-size: 14px;
	color: #706e74;
	width: 392px;
}

.workOutPlane_button {
	display: flex;

	justify-content: space-between;
}

.buttonBig {
	background-color: #f24b88;
	border: none;
	max-width: 100%;
	height: 70px;
	color: #ffff;
	font-weight: 600;
	border-radius: 10px;
	font-size: 20px;
}

.workOutPlane_photo {
	display: flex;
	flex-direction: column;
	align-items: end;
	margin-right: 26px;
	margin-left: 70px;
}

@media (max-width: 1016px) and (min-width: 769px) {
	.workOutPlane {
		justify-content: space-evenly;
	}
	.workOutPlane_inform {
	}
	.workOutPlane_titleBig {
		font-size: 20px;
		height: 25px;
	}
	.workOutPlane_titleMiddle {
		font-size: 10px;
	}
	.workOutPlane_text {
		font-size: 14px;
		width: 150px;
	}
	.buttonBig {
		max-width: 40%;
		height: 35px;
		font-size: 75%;
	}
	.workOutPlane_photo {
		margin-right: 0px;
		margin-left: 0px;
	}
}

.workOutPlane_photo img {
	border-radius: 20px;
	max-width: 100%;
	height: auto;
}

.workOutPlane_announcements {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: #ffff;
	width: 25%;
}

.workOutPlane_announcement {
	background-color: #332f3c;
	border-radius: 20px;
	height: 40%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 5% 5%;
}

.announcement_title {
	font-weight: 600;
	font-size: 20px;
}

.announcement_text {
	font-size: 14px;
	color: #706e74;
}

.announcement_button {
	display: flex;
	align-items: center;
}

.announcement_button button {
	background-color: #f24b88;
	border: none;
	width: 40px;
	height: 40px;
	border-radius: 40px;
	margin-right: 13px;
}

.announcement_buttonText {
	font-weight: 600;
	font-size: 18px;
}

@media (max-width: 1016px) and (min-width: 769px) {
	.announcement_title {
		font-weight: 600;
		font-size: 15px;
	}
}

@media (max-width: 768px) {
	.workOutPlane_announcements {
		display: none;
	}

	.buttonBigSec {
		display: none;
	}
}
